# Exclude files from GitHub's language statistics

_docs/* linguist-documentation
src/vendor/** linguist-vendored
src/public/files/** linguist-vendored
src/public/css/* linguist-vendored
src/public/modules/** linguist-vendored
src/app/includes/ascii_special_characters.php linguist-vendored
src/app/includes/color_tables.php linguist-vendored
src/app/includes/http_response_status_codes.php linguist-vendored
src/app/includes/iso_country_list.php linguist-vendored
src/app/includes/time_zones.php linguist-vendored
src/app/includes/top_level_domains.php linguist-vendored
src/app/includes/windows_version_numbers.php linguist-vendored