# Exclude files from GitHub's language statistics

_docs/* linguist-documentation
src/vendor/** linguist-vendored
src/public/files/** linguist-vendored
src/public/css/* linguist-vendored
src/public/modules/** linguist-vendored
src/app/includes/lists_and_tables/** linguist-vendored
src/app/includes/documentations/** linguist-vendored